<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yusei.dao.ProcessGuarderDao">
  <resultMap id="BaseResultMap" type="com.yusei.model.entity.ProcessGuarder">
    <id column="process_guarder_id" property="processGuarderId"/>
    <result column="process_info_id" property="processInfoId"/>
    <result column="process_definition_key" property="processDefinitionKey"/>
    <result column="process_definition_id" property="processDefinitionId"/>
    <result column="user_id" property="userId"/>
  </resultMap>

  <sql id="Base_field">
    process_guarder_id, process_info_id, process_definition_key, process_definition_id, user_id
  </sql>

  <insert id="insertBatch" parameterType="com.yusei.model.entity.ProcessGuarder">
    insert into process_guarder(<include refid="Base_field"/>) values
    <foreach collection="list" item="item" separator=",">
      (
      #{item.processGuarderId}, #{item.processInfoId}, #{item.processDefinitionKey},
      #{item.processDefinitionId}, #{item.userId}
      )
    </foreach>
  </insert>

  <select id="getByUserId" resultMap="BaseResultMap">
    select
    <include refid="Base_field"/>
    from process_guarder
    where user_id = #{userId}
  </select>

  <delete id="deleteByProcessInfoId">
    delete from process_guarder
    where process_info_id = #{processInfoId}
  </delete>
</mapper>